@model BudgetControl.ViewModels.PaymentData

@{
    ViewBag.Title = "Create";
}

@*<h3>เบิกจ่ายเบี้ยเลี้ยง</h3>*@
<br /><br /><br />
<div ng-controller="paymentController">
    @*{{ title }}
    {{ budgetcontroller }}
    {{ budgetlist }}
    {{ emplist }}*@
    <div class="row">
        <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
            Alert Dialog
        </md-button>
    </div>

    <form ng-submit="createPayment()">
        <div class="well">
            <fieldset>
                <legend>เบิกจ่ายเบี้ยเลี้ยง</legend>

                <div class="row">
                    <div class="form-horizontal col-md-8">
                        <div class="form-group">
                            <label for="txtYear" class="col-md-3 control-label">ปีงบประมาณ</label>
                            <div class="col-md-6">
                                <input ng-model="payment.Year" type="text" class="form-control" id="txtYear" placeholder="ปีงบประมาณ" value="2559" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                เบิกโดย
                            </label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="payment.requestby" ng-options="emp.EmployeeID as emp.Description for emp in emplist">
                                    <option value=""> === Please select === </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescription" class="col-md-3 control-label">รายละเอียด</label>
                            <div class="col-md-8">
                                <textarea ng-model="payment.description" class="form-control" rows="5" id="txtDescription" placeholder="รายละเอียด"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">ผู้ควบคุมงบประมาณ</h3>
                            </div>
                            <div class="panel-body">
                                <p>ชื่อ - นามสกุล : {{ budgetcontroller.EmployeeID }}</p>
                                <p>สังกัด</p>
                                <p>ตำแหน่ง</p>
                                <p>วันที่</p>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>

        </div>
        <br />

        <div class="form-group col-md-8 pull-right">
            <div class="input-group">
                <span class="input-group-addon">บัญชีงบประมาณ</span>
                <select class="form-control" ng-model="selectbudget" ng-options="budget.BudgetID as budget.Description for budget in budgetlist">
                    <option value=""> === Please select === </option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addNewStatement()">เลือกบัญชี</button>
                </span>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-4">
                <select class="form-control" ng-model="selectbudget" ng-options="budget.BudgetID as budget.Description for budget in budgetlist">
                    <option value=""> === Please select === </option>
                </select>
            </div>
            <button class="btn btn-default" type="button" ng-click="addNewStatement()">เพิ่มบัญชี</button>
        </div>*@


        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th> ลำดับ </th>
                    <th> งบประมาณ </th>
                    <th> ประจำปี </th>
                    <th> วงเงินที่ได้รับ</th>
                    <th> เบิก</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="statement in payment.statements">
                    <th> {{ $index + 1 }}</th>
                    <td> {{ statement.AccountName }}</td>
                    <td> {{ statement.Year }} </td>
                    <td> {{ statement.BudgetAmount }} </td>
                    <td> <input type="number" ng-model="statement.Amount" class="form-control" ng-change="updateTotalAmount()" /> </td>
                    <td>
                        <button type="button" ng-click="removeStatement( $index )" class="btn btn-danger btn-block">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>

                <tr ng-show="payment.statements.length > 0">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>รวมเบิก</th>
                    <th>{{ payment.totalamount }}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
        <br />

        <div class="col-md-2 pull-right">
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="ตกลง" />
        </div>
    </form>
</div>

<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
