@{
    Layout = null;
}


<div class="hidden-print">

    <form @*ng-submit="vm.submit()"*@ method="post" name="frmPayment">
        <!-- Payment Details -->
        <div class="card">
            <fieldset>
                <legend>
                    เบิกจ่ายงบประมาณ ศูนย์ต้นทุน:
                    <span class="text-primary"> {{ vm.payment.CostCenterID }} </span>
                </legend>

                <div class="row">
                    <div class="form-horizontal col-md-12">
                        <div class="form-group">
                            <label for="txtYear" class="col-md-2 control-label">ปีงบประมาณ<span class="text-danger">*</span></label>
                            <div class="col-md-2">
                                <select class="form-control select-center" ng-model="vm.payment.Year" ng-options="y.Year as y.Year for y in vm.years"></select>
                            </div>
                            @*<label for="txtYear" class="col-md-2 control-label">ศูนย์ต้นทุน<span class="text-danger">*</span></label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.payment.CostCenterID" ng-options="c.CostCenterID as c.CostCenterName for c in vm.costcenters"></select>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                ผู้เบิก<span class="text-danger">*</span>
                            </label>
                            <div class="col-md-10">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="requestByType" ng-model="vm.requestby.type" value="normal">
                                        พนักงานในศูนย์ต้นทุน
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="requestByType" ng-model="vm.requestby.type" value="pea">
                                        พนักงานนอกศูนย์ต้นทุน
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="requestByType" ng-model="vm.requestby.type" value="others">
                                        บุคคลภายนอก
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-2" ng-if="vm.requestby.type === 'normal'">
                                <select class="form-control" name="requestby" ng-model="vm.payment.RequestBy" ng-options="emp.EmployeeID as emp.Description for emp in vm.displayEmployees" ng-required="true">
                                    <option value=""> ======= กรุณาเลือก ======= </option>
                                </select>
                                <span class="text-danger" ng-show="frmPayment.requestby.$error.required"></span>
                            </div>

                            <div ng-if="vm.requestby.type === 'pea'">
                                <div class="col-md-2 col-md-offset-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="รหัสพนักงาน"
                                               ng-model="vm.requestbypea.employeecode"
                                               ng-keypress="$event.keyCode === 13 && vm.getEmployeeProfile()"
                                               ng-blur="vm.getEmployeeProfile()">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="vm.getEmployeeProfile();">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control text-center" placeholder="ชื่อ - นามสกุล"
                                           ng-model="vm.requestbypea.name"
                                           ng-disabled="true" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control text-center" placeholder="ตำแหน่ง"
                                           ng-model="vm.requestbypea.position"
                                           ng-disabled="true" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control text-center" placeholder="รหัสศูนย์ต้นทุน"
                                           ng-model="vm.requestbypea.costcenterid"
                                           ng-disabled="true" />
                                </div>
                            </div>

                            <div ng-if="vm.requestby.type === 'others'">
                                <div class="col-md-4 col-md-offset-2">
                                    <input type="text" name="others" class="form-control" list="contractors" placeholder="ชื่อ - นามสกุล บุคคลภายนอก"
                                           ng-model=""
                                           ng-change="vm.accountChange()" ng-required="true" ng-minlength="8" ng-maxlength="8" />
                                    <datalist id="contractors">
                                        <option>นายปัญญา ภิกษาวงศ์1</option>
                                        <option>นายปัญญา ภิกษาวงศ์2</option>
                                        <option>นายปัญญา ภิกษาวงศ์3</option>
                                        @*<option ng-repeat="account in vm.accounts" value="{{ account.AccountID }}">*@
                                    </datalist>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="txtDescription">
                                รายละเอียด<span class="text-danger">*</span>:
                            </label>
                            <div class="col-md-6">
                                <textarea ng-model="vm.payment.Description" ng-required="true" class="form-control" rows="3" id="txtDescription" placeholder="รายละเอียด"></textarea>
                            </div>
                        </div>
                    </div>


                    @*<div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="txtDescription">
                                    รายละเอียด<span class="text-danger">*</span>:
                                </label>
                                <textarea ng-model="vm.payment.Description" ng-required="true" class="form-control" rows="3" id="txtDescription" placeholder="รายละเอียด"></textarea>
                            </div>
                        </div>*@

                </div>
            </fieldset>


            <!-- เลือกงบประมาณ   -->
            <hr />
            @*<div class="row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">เลือกบัญชี</span>
                            <select class="form-control" ng-model="vm.selectbudget" ng-options="budget.BudgetID as budget.BudgetName for budget in vm.budgets | filter:{ CostCenterID: vm.payment.CostCenterID }">
                                <option value=""> =========== กรุณาเลือก =========== </option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="vm.addNewTransaction()">ตกลง</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="text-danger"> {{ vm.addNewTransactionError }}</p>
                    </div>
                </div>*@

            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline col-md-offset-1">
                        <div class="form-group">
                            <label class="control-label">เลือกบัญชี<span class="text-danger">*</span></label>
                            <select class="form-control" ng-model="vm.selectbudget" ng-options="budget.BudgetID as budget.BudgetName for budget in vm.budgets | filter:{ CostCenterID: vm.payment.CostCenterID } | filter: { Year: vm.payment.Year }">
                                <option value=""> =========== กรุณาเลือก =========== </option>
                            </select>
                            <button class="btn btn-primary" type="button" ng-click="vm.addNewTransaction()">ตกลง</button>
                            <span class="text-danger"> {{ vm.addNewTransactionError }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <!-- ตารางรายการเบิก -->
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center"> ลำดับ </th>
                        <th class="col-md-1 text-center">ปีงบประมาณ</th>
                        <th class="col-md-1 text-center">ศูนย์ต้นทุน</th>
                        <th class="text-center"> ชื่อบัญชี </th>
                        <th class="col-md-2 text-center"> งบที่ได้รับ</th>
                        <th class="col-md-2 text-center"> เบิก</th>
                        <th class="col-md-1 text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in vm.transactions">

                        <td class="text-center">
                            {{ $index + 1 }}
                        </td>
                        <td class="text-center">
                            {{ transaction.Budget.Year }}
                        </td>
                        <td class="text-center">
                            {{ transaction.Budget.CostCenterID }}
                        </td>
                        <td>
                            {{ transaction.Budget.Account.AccountID }} - {{ transaction.Budget.Account.AccountName }}
                        </td>
                        <td class="text-center">
                            {{ transaction.Budget.BudgetAmount | number:2 }}
                        </td>
                        <td class="text-center">
                            <input type="number" ng-model="transaction.Amount" ng-required="true" class="form-control input-sm text-right" ng-change="vm.updateTotalAmount()" />
                            <span ng-show="frmPayment.transaction.Amount.$error.min">
                                Please fill form.
                            </span>
                        </td>
                        <td class="text-center">
                            <a ng-click="vm.removeTransaction( transaction.Budget.BudgetID )">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>

                    <tr ng-show="vm.transactions.length > 0">
                        <th colspan="4"></th>
                        <th class="text-right">รวมเบิก</th>
                        <th class="text-right">{{ vm.payment.TotalAmount | number: 2 }}</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-6 col-md-offset-8 col-sm-offset-6">
                    <a ui-sref="payment" class="btn btn-lg btn-default btn-block">
                        กลับหน้าจอ
                    </a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <button type="button" ng-click="vm.submit()" class="btn btn-primary btn-lg btn-block" ng-disabled="frmPayment.$invalid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        บันทึก
                    </button>

                </div>
            </div>

        </div>
    </form>




</div>