@{
    Layout = null;
}


<div class="hidden-print">
    <h3>รายละเอียดการเบิกจ่าย</h3>
    <hr />

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            <div class="card">
                <div class="col-md-4">
                    <h4 class="text-right">เลขที่การเบิกจ่าย:</h4>
                </div>
                <div class="col-md-8">
                    <h4 class="text-primary">{{ vm.payment.PaymentNo }}</h4>
                </div>

                <div class="col-md-4">
                    <h4 class="text-right">เบิกโดย:</h4>
                </div>
                <div class="col-md-8">
                    <h4 class="text-primary">{{ vm.payment.RequestByName }}</h4>
                </div>

                <div class="col-md-4">
                    <h4 class="text-right">จำนวนเงิน:</h4>
                </div>
                <div class="col-md-8">
                    <h4> <span class="text-primary">{{ vm.payment.TotalAmount | number: 2 }} </span> บาท</h4>
                </div>
                <div class="col-md-4">
                    <h4 class="text-right">รายละเอียด:</h4>
                </div>
                <div class="col-md-8">
                    <h4> <span class="text-primary">{{ vm.payment.Description }} </span></h4>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">ลำดับ</th>
                    <th class="text-center">รหัสบัญชี</th>
                    <th class="text-center">ชื่อบัญชี</th>
                    <th class="text-center">ปีงบประมาณ</th>
                    <th class="text-center">งบที่ได้รับ</th>
                    <th class="text-center">เบิกจ่ายไปแล้ว</th>
                    <th class="text-center">เบิกจ่ายงวดนี้</th>
                    <th class="text-center">คงเหลือ</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="transaction in vm.payment.Transactions">
                    <td class="text-center"> {{ $index + 1 }} </td>
                    <td class="text-center"> {{ transaction.AccountID }}</td>
                    <td class="text-center"> {{ transaction.AccountName }}</td>
                    <td class="text-center"> {{ transaction.Year }}</td>
                    <td class="text-right"> {{ transaction.BudgetAmount | number: 2}}</td>
                    <td class="text-right"> {{ transaction.PreviousAmount | number: 2 }}</td>
                    <td class="text-right"> {{ transaction.Amount | number: 2 }}</td>
                    <td class="text-right"> {{ transaction.RemainAmount | number: 2}}</td>
                </tr>
                <tr>
                    <th colspan="6" class="text-right">รวมเบิก</th>
                    <th class="text-right">{{ vm.payment.TotalAmount | number: 2 }}</th>
                    <th class="text-center">บาท</th>
                </tr>

            </tbody>
        </table>
        <h4 class="text-center">บันทึกข้อมูลโดย : <span class="text-info">{{ vm.payment.RecordTimeStamp.ModifiedBy }} - {{ vm.payment.RecordTimeStamp.ModifiedByName }}</span></h4>
        <h4 class="text-center">
            วันที่
            <span class="text-info"> {{ vm.payment.RecordTimeStamp.ModifiedDate }} </span>
            เวลา
            <span class="text-info"> {{ vm.payment.RecordTimeStamp.ModifiedTime }} </span>น.    
        </h4>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-8">
            <button class="btn btn-primary btn-block" ng-click="vm.print()"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์</button>
        </div>
        <div class="col-md-2">
            <a ui-sref="payment" class="btn btn-primary btn-block">รายการเบิกจ่าย</a>
        </div>

    </div>
</div>

<div class="visible-print-block">
    <h4>ศูนย์ต้นทุน: {{ vm.payment.CostCenterID }}</h4>
    <h4>เลขที่ใบสำคัญจ่าย: {{vm.payment.PaymentNo }}</h4>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">ลำดับ</th>
                <th class="text-center">รหัสบัญชี</th>
                <th class="text-center">ชื่อบัญชี</th>
                <th class="text-center">ปีงบประมาณ</th>
                <th class="text-center">วงเงินที่ได้รับ</th>
                <th class="text-center">เบิกจ่ายไปแล้ว</th>
                <th class="text-center">เบิกจ่ายงวดนี้</th>
                <th class="text-center">คงเหลือ</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="transaction in vm.payment.Transactions">
                <td class="text-center"> {{ $index + 1 }} </td>
                <td class="text-center"> {{ transaction.AccountID }}</td>
                <td class="text-center"> {{ transaction.AccountName }}</td>
                <td class="text-center"> {{ transaction.Year }}</td>
                <td class="text-right"> {{ transaction.BudgetAmount | number: 2}}</td>
                <td class="text-right"> {{ transaction.PreviousAmount | number: 2 }}</td>
                <td class="text-right"> {{ transaction.Amount | number: 2 }}</td>
                <td class="text-right"> {{ transaction.RemainAmount | number: 2}}</td>
            </tr>
            <tr>
                <th colspan="6" class="text-right">รวมเบิก</th>
                <th class="text-right">{{ vm.payment.TotalAmount | number: 2 }}</th>
                <th class="text-center">บาท</th>
            </tr>

        </tbody>
    </table>
    <h4 class="text-center">บันทึกข้อมูลโดย : {{ vm.payment.RecordTimeStamp.ModifiedBy }} - {{ vm.payment.RecordTimeStamp.ModifiedByName }}</h4>

</div>
