@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>ลำดับการเบิกที่: {{ payment.Sequence }} </h4>
        <p>ประจำปี: {{ payment.Year }} </p>
        <p>เบิกโดย: {{ payment.Requester.FullName }} </p>
        <p>จำนวนเงิน: {{ (payment.TotalAmount | number:0) + ' บาท'}} </p>
        <p>ควบคุมงบโดย: {{ payment.Controller.FullName }} </p>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="col-md-1 text-center">ลำดับ</th>
                <th class="text-center">บัญชี</th>
                <th class="col-md-2 text-center">งบประมาณ</th>
                <th class="col-md-2 text-center">เบิก</th>
                <th class="col-md-2 text-center">เบิกไปแล้ว</th>
                <th class="col-md-2 text-center">คงเหลือ</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="statement in payment.Statements">
                <td class="text-center"> {{ $index + 1 }} </td>
                <td> {{ statement.AccountName }} </td>
                <td class="text-center"> {{ statement.BudgetAmount | number:0 }} </td>
                <td class="text-center"> {{ statement.WithdrawAmount | number:0 }} </td>
                <td class="text-center"> {{ statement.PreviousAmount | number:0 }} </td>
                <td class="text-center"> {{ statement.RemainAmount | number:0 }} </td>
            </tr>

        </tbody>
    </table>

</div>
<div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a ui-sref="payment" class="btn btn-primary btn-block">รายการจ่ายเงิน</a>
        </div>

</div>