@{
    Layout = null;
}


<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a ui-sref="newpayment" class="btn btn-primary btn-block">
            ตัดงบ
        </a>
    </div>
</div>
<br />
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1 text-center">ลำดับ</th>
            <th class="text-center">รายการ</th>
            <th class="col-md-2 text-center">ผู้เบิก</th>
            <th class="col-md-2 text-center">จำนวน</th>
            <th class="col-md-2 text-center">วันที่</th>
            <th class="col-md-1 text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="payment in vm.payments">
            <td class="text-center"> {{ $index + 1 }} </td>
            <td> {{ payment.Description }} </td>
            <td class="text-center"> {{ payment.Requester.FullName }} </td>
            <td class="text-center"> {{ payment.TotalAmount | number:0 }} </td>
            <td class="text-center"> {{ payment.PaymentDate | date:'dd MMM yyyy' }} </td>
            <td class="text-center">
                <a ui-sref="viewpayment({id:payment.PaymentID})" title="รายละเอียด">
                    <i class="fa fa-list" aria-hidden="true"></i>
                </a>|
                <a ui-sref="editpayment({id:payment.PaymentID})" title="แก้ไข">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>|
                <a ui-sref="deletepayment({id:payment.PaymentID})" title="ยกเลิกการจ่ายเงิน">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>


            </td>
        </tr>
    </tbody>
</table>
