@{
    Layout = null;
}


<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a ui-sref="newpayment" class="btn btn-primary btn-block">
            เบิกจ่ายงบประมาณ
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <h3>
                <span class="pull-left">
                    ปีงบประมาณ:
                </span>
                <span class="col-md-6">
                    <select class="form-control input-sm" 
                            ng-model="vm.year" 
                            ng-options="y as y for y in vm.years"
                            ng-change="vm.getPaymentData();">
                    </select>
                </span>
            </h3>
        </div>
    </div>
    <div class="col-md-5">
        <h3>
            <span class="pull-left">
                ศูนย์ต้นทุน:
            </span>
            <span class="col-md-8">
                <select class="form-control input-sm" 
                        ng-model="vm.costcenter" 
                        ng-options="c.CostCenterID as c.CostCenterName for c in vm.costcenters"
                        ng-change="vm.getPaymentData();">

                </select>
            </span>
        </h3>
    </div>
    <div class="col-md-3">
        <h3>
            <span class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="ค้นหา" ng-model="vm.filter">
                <span class="input-group-addon "><i class="fa fa-search" aria-hidden="true"></i></span>
            </span>
        </h3>
    </div>
</div>
<br />
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                <a ng-click="vm.sortBy('')">
                    ลำดับ
                </a>
            </th>
            <th class="text-center">
                <a ng-click="vm.sortBy('PaymentNo')">
                    เลขที่การเบิกจ่าย
                    <span ng-show="vm.propertyName === 'PaymentNo'" class="sortorder" ng-class="{reverse: vm.reverse}"></span>
                </a>
            </th>
            <th class="text-center">
                <a ng-click="vm.sortBy('Description')">
                    รายละเอียด
                    <span ng-show="vm.propertyName === 'Description'" class="sortorder" ng-class="{reverse: vm.reverse}"></span>
                </a>
            </th>
            <th class="col-md-2 text-center">
                <a ng-click="vm.sortBy('Requester.FullName')">
                    ผู้เบิก
                    <span ng-show="vm.propertyName === 'Requester.FullName'" class="sortorder" ng-class="{reverse: vm.reverse}"></span>
                </a>
            </th>
            <th class="col-md-2 text-center">
                <a ng-click="vm.sortBy('TotalAmount')">
                    จำนวนเงิน
                    <span ng-show="vm.propertyName === 'TotalAmount'" class="sortorder" ng-class="{reverse: vm.reverse}"></span>
                </a>
            </th>
            <th class="col-md-2 text-center">
                <a ng-click="vm.sortBy('PaymentDate')">
                    วันที่
                    <span ng-show="vm.propertyName === 'PaymentDate'" class="sortorder" ng-class="{reverse: vm.reverse}"></span>
                </a>
            </th>
            <th class="col-md-1 text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="payment in vm.payments |  orderBy: vm.propertyName: vm.reverse">
            <td class="text-center"> {{ $index + 1 }} </td>
            <td class="text-center"> {{ payment.PaymentNo }}</td>
            <td> {{ payment.Description }} </td>
            <td class="text-center"> {{ payment.RequestByName }} </td>
            <td class="text-center"> {{ payment.TotalAmount | number:2 }} </td>
            <td class="text-center"> {{ payment.PaymentDate | date:'dd MMM yyyy' }} </td>
            <td class="text-center">
                <a ui-sref="viewpayment({id:payment.PaymentID})" title="รายละเอียด">
                    <i class="fa fa-list" aria-hidden="true"></i>
                </a>|
                <a ui-sref="editpayment({id:payment.PaymentID})" title="แก้ไข">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>|
                <a ng-click="vm.deletePayment(payment)" title="ยกเลิกการจ่ายเงิน">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>


            </td>
        </tr>
    </tbody>
</table>
