
@{
    Layout = null;
}

<div class="hidden-print">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">เบิกจ่ายงบประมาณสำเร็จ : <span class="text-primary">{{ vm.payment.CostCenter.CostCenterName }}</span></h3>
    </div>

    <div class="modal-body" id="modal-body">
        <h4>เลขที่การเบิกจ่าย: <span class="text-primary"> {{ vm.payment.PaymentNo }}</span></h4>
        <h4>ผู้เบิก: <span class="text-primary"> {{ vm.payment.Requester.FullName }}</span></h4>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">ลำดับ</th>
                    <th class="text-center">รหัสบัญชี</th>
                    <th class="text-center">ชื่อบัญชี</th>
                    <th class="text-center">ปีงบประมาณ</th>
                    <th class="text-center">งบที่ได้รับ</th>
                    <th class="text-center">เบิกจ่ายไปแล้ว</th>
                    <th class="text-center">เบิกจ่ายงวดนี้</th>
                    <th class="text-center">คงเหลือ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in vm.payment.BudgetTransactions">
                    <td class="text-center"> {{ $index + 1 }} </td>
                    <td class="text-center"> {{ transaction.Budget.AccountID }}</td>
                    <td class="text-center"> {{ transaction.Budget.Account.AccountName }}</td>
                    <td class="text-center"> {{ transaction.Budget.Year }}</td>
                    <td class="text-right"> {{ transaction.Budget.BudgetAmount | number: 2}}</td>
                    <td class="text-right"> {{ transaction.PreviousAmount | number: 2 }}</td>
                    <td class="text-right"> {{ transaction.Amount | number: 2 }}</td>
                    <td class="text-right"> {{ transaction.RemainAmount | number: 2}}</td>
                </tr>
                <tr>
                    <th colspan="6" class="text-right">รวมเบิก</th>
                    <th class="text-right">{{ vm.payment.TotalAmount | number: 2 }}</th>
                    <th class="text-center">บาท</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="vm.print();"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์</button>
        <button class="btn btn-default" type="button" ng-click="vm.update()">เปลี่ยนแปลง</button>
        <button class="btn btn-primary" type="button" ng-click="vm.next()">รายการเบิกจ่าย</button>
    </div>

</div>

<div class="visible-print-block">
    <div class="">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">ลำดับ</th>
                    <th class="text-center">รหัสบัญชี</th>
                    <th class="text-center">ชื่อบัญชี</th>
                    <th class="text-center">ปีงบประมาณ</th>
                    <th class="text-center">งบที่ได้รับ</th>
                    <th class="text-center">เบิกจ่ายไปแล้ว</th>
                    <th class="text-center">เบิกจ่ายงวดนี้</th>
                    <th class="text-center">คงเหลือ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in vm.payment.BudgetTransactions">
                    <td class="text-center"> {{ $index + 1 }} </td>
                    <td class="text-center"> {{ transaction.Budget.AccountID }}</td>
                    <td class="text-center"> {{ transaction.Budget.Account.AccountName }}</td>
                    <td class="text-center"> {{ transaction.Budget.Year }}</td>
                    <td class="text-right"> {{ transaction.Budget.BudgetAmount | number: 2}}</td>
                    <td class="text-right"> {{ transaction.PreviousAmount | number: 2 }}</td>
                    <td class="text-right"> {{ transaction.Amount | number: 2 }}</td>
                    <td class="text-right"> {{ transaction.RemainAmount | number: 2}}</td>
                </tr>
                <tr>
                    <th colspan="6" class="text-right">รวมเบิก</th>
                    <th class="text-right">{{ vm.payment.TotalAmount | number: 2 }}</th>
                    <th class="text-center">บาท</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>