
@{
    Layout = null;
}

<div class="modal-header">
    <h3 class="modal-title" id="modal-title">เบิกจ่ายงบประมาณสำเร็จ</h3>
</div>
<div class="modal-body" id="modal-body">
    {{ vm.paymentid }}
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">ลำดับ</th>
                <th class="text-center">รหัสบัญชี</th>
                <th class="text-center">ชื่อบัญชี</th>
                <th class="text-center">ปีงบประมาณ</th>
                <th class="text-center">งบที่ได้รับ</th>
                <th class="text-center">เบิกจ่ายไปแล้ว</th>
                <th class="text-center">เบิกจ่ายงวดนี้</th>
                <th class="text-center">คงเหลือ</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in vm.payment.BudgetTransactions">
                <td> {{ index + 1 }} </td>
                <td> {{ transaction.Budget.AccountID }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.update()">เปลี่ยนแปลง</button>
    <button class="btn btn-primary" type="button" ng-click="vm.next()">รายการเบิกจ่าย</button>
</div>