
@{
    ViewBag.Title = "รายการตัดงบ";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <h3>
                <span class="pull-left">
                    ปีงบประมาณ:
                </span>
                <span class="col-md-6">
                    <select class="form-control input-sm"
                            ng-model="vm.year"
                            ng-options="y as y for y in vm.years"
                            ng-change="vm.getPaymentTransactionData();"></select>
                </span>
            </h3>
        </div>
    </div>
    <div class="col-md-5">
        <h3>
            <span class="pull-left">
                ศูนย์ต้นทุน:
            </span>
            <span class="col-md-8">
                <select class="form-control input-sm"
                        ng-model="vm.costcenter"
                        ng-options="c.CostCenterID as c.CostCenterName for c in vm.costcenters"
                        ng-change="vm.getPaymentTransactionData();"></select>
            </span>
        </h3>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <div id="grid1" ui-grid="vm.gridOptions" class="grid" ui-grid-resize-columns ui-grid-exporter></div>
    </div>
</div>
