@{
    ViewBag.Title = "Home Page";
}



<div ng-controller="AuthCtrl as vm">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="home" class="navbar-brand"><i class="fa fa-book" aria-hidden="true"></i> ระบบควบคุมงบประมาณ</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            1. งบประมาณ
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="budget">1.1 รายการงบที่ได้รับ</a></li>
                            <li><a ui-sref="newbudget">1.2 เพิ่มงบประมาณ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            2. เบิกจ่าย
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="payment">2.1 รายการเบิกจ่าย</a></li>
                            <li><a ui-sref="newpayment">2.2 เบิกจ่ายงบประมาณ</a></li>
                            <li><a ui-sref="transaction">2.3 รายการตัดงบ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            3. รายงาน
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="summaryreport">3.1 สรุปการเบิกจ่ายเปรียบเทียบกับงบประมาณ</a></li>
                            <li><a ui-sref="individualreport">3.2 สรุปการเบิกจ่ายรายบุคคล</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            4. งบฝึกอบรม (MT)
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="requestbudgetmt">4.1 เบิกงบ</a></li>
                            <li><a ui-sref="transcationbudgetmt">4.2 รายการเบิกจ่ายงบฝึกอบรม</a></li>
                        </ul>
                    </li>
                </ul>

                <!--- Session-->
                <div ng-if="!vm.isAuthen">
                    <ul class="nav navbar-nav navbar-right">
                        <li ui-sref-active="active"><a ui-sref="login"><i class="fa fa-sign-in" aria-hidden="true"></i>  เข้าสู่ระบบ</a></li>
                    </ul>
                </div>

                <div ng-if="vm.isAuthen">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i> {{ vm.userinfo.Employee.FirstName + ' ' + vm.userinfo.Employee.LastName }}
                                <span class="caret"></span>
                            </a>
                            @*<ul class="dropdown-menu" role="menu">
                                <li><a ui-sref="changeworkingcca"><i class="fa fa-key text-primary" aria-hidden="true"></i>เปลี่ยนศูนย์ต้นทุน</a></li>
                                <li><a href="#"><i class="fa fa-address-book text-primary" aria-hidden="true"></i> ข้อมูลส่วนตัว</a></li>
                                    <li><a ui-sref="changepassword"><i class="fa fa-key text-primary" aria-hidden="true"></i> เปลี่ยนรหัสผ่าน</a></li>
                                </ul>*@
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i> {{ vm.workingCC.CostCenterID }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ui-sref="changeworkingcca">เปลี่ยนศูนย์ต้นทุน</a></li>
                            </ul>
                        </li>
                        <li><a ng-click="vm.logout()">ออกจากระบบ <i class="fa fa-sign-out" aria-hidden="true"></i>  </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="container body-content">
        <div class="hidden-print">
            <ol class="breadcrumb">
                <li ng-repeat="item in breadcrumb" class="active">
                    <a ng-if="!$last" ui-sref="{{ item.state }}"> {{ item.text }} </a>
                    <span ng-if="$last">{{ item.text }}</span>
                </li>
            </ol>
        </div>

        <div class="alert text-center" ng-class="msg.type" ng-show="msg.position === 'top'">
            <button type="button" class="close" ng-click="clearMsg()">&times;</button>
            <h4>{{ msg.header }}</h4>
            <h4>{{ msg.text }} </h4>
            <a ui-sref="{{ state.name }}" ng-if="state.name">{{ state.title }}</a>
        </div>

        <div ui-view>

        </div>

        <div class="alert text-center" ng-class="msg.type" ng-show="msg.position === 'bottom'">
            <button type="button" class="close" ng-click="clearMsg()">&times;</button>
            <h4><strong>{{ msg.header }}</strong></h4>
            <h4>{{ msg.text }} </h4>
            <a ui-sref="{{ state.name }}" ng-if="state.name">{{ state.title }}</a>
        </div>

    </div>

    <div ng-controller="FooterCtrl as vm" class="navbar-fixed-bottom hidden-print" style="background-color: #f7f7f7;">
        <hr class="footer" />
        <div class="container">
            <footer>
                <div class="row">
                    <div class="col-md-4">
                        <p>&copy; @DateTime.Now.Year - ระบบควบคุมงบประมาณ</p>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-inline">
                            <li><a ng-click="vm.aboutus()">เกี่ยวกับเรา</a> | </li>
                            <li><a ng-click="vm.notice()">ประกาศ & ข่าวสาร</a> |</li>
                            <li><a ng-click="vm.document()">คู่มือการใช้งาน</a> |</li>
                            <li><a ng-click="vm.contactus()">แจ้งปัญหาการใช้งาน</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-inline">
                            <li class="pull-right"><a ui-sref="newovertime">คำนวนค่าล่วงเวลา</a> </li>
                        </ul>
                    </div>
                </div>
                <br />
            </footer>
        </div>
    </div>
</div>