
<div class="modal-header">

    <button type="button" ng-click="vm.close()" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
    <h3 class="modal-title text-center">ประกาศ & ข่าวสาร</h3>
</div>

<div class="modal-body">
    <h4>อัพเดทการปรับปรุงโปรแกรม วันที่ 29 ธันวาคม 2560</h4>
    <ul>
        <li>
            <span class="text-primary">การเข้าสู่ระบบ</span> - ให้ใช้รหัสพนักงาน และรหัสผ่านแบบเดียวกันกับที่ใช้เข้าคอมพิวเตอร์
        </li>
        <li>
            <span class="text-primary">ข้อมูลงบประมาณ</span> - กรท. จะเป็นผู้อัพเดทจำนวนเงินงบประมาณจากระบบ SAP ให้ ทุกๆ 3 เดือน
        </li>
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="modal-footer">
    <div class="col-md-2 col-md-offset-10">
        <button class="btn btn-default btn-block" type="button" ng-click="vm.close()">ปิด</button>
    </div>
</div>