
<div class="modal-header">

    <button type="button" ng-click="vm.close()" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
    <h3 class="modal-title text-center">ประกาศ & ข่าวสาร</h3>
</div>

<div class="modal-body">
    <h3>อัพเดทการปรับปรุงโปรแกรม วันที่ 29 ธันวาคม 2560</h3>
    @*<ul>
        <li>
            <span class="text-primary">การเข้าสู่ระบบ</span> - ให้ใช้รหัสพนักงาน และรหัสผ่านแบบเดียวกันกับที่ใช้เข้าคอมพิวเตอร์
        </li>
        <li>
            <span class="text-primary">ข้อมูลงบประมาณ</span> - กรท. จะเป็นผู้อัพเดทจำนวนเงินงบประมาณจากระบบ SAP ให้ ทุกๆ 3 เดือน
        </li>
    </ul>*@
    <dl class="dl-horizontal dl-notice">
        <dt>การเข้าสู่ระบบ</dt>
        <dd>ท่านสามารถใช้ <mark>รหัสประจำตัวพนักงาน</mark> และ <mark>รหัสผ่าน</mark> ชุดเดียวกับที่ใช้ตอนเปิดเครื่อง (เข้า Windows) </dd>

        <dt>ข้อมูลงบประมาณ</dt>
        <dd>1. ปิดการแก้ไขจำนวนเงินงบประมาณ ที่นำเข้ามาจากระบบ SAP โดย กรท. จะเป็นผู้อัพเดทจำนวนเงินให้ ทุกๆ 3 เดือน </dd>
        <dd>2. สามารถเพิ่มบัญชีงบประมาณ ที่ไม่มีใน SAP ได้ แต่วงเงินที่ได้รับจะเป็น 0 บาทเท่านั้น</dd>

        <dt>การเบิกจ่าย</dt>
        <dd>สามารถเบิกจ่ายให้กับ <mark>พนักงานนอกศูนย์ต้นทุน</mark> และ <mark>บุคคลภายนอก</mark> ได้</dd>
    </dl>
</div>

<div class="modal-footer">
    <div class="col-md-10">
        <div class="checkbox">
            <label>
                <input type="checkbox" checked="checked" ng-model="vm.notDisplayAgain"> ไม่ต้องแสดงหน้าต่างนี้อีก
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-block" type="button" ng-click="vm.close()">ปิด</button>
    </div>
</div>