<div>
    <h2 class="text-center">ตารางสรุปการเบิกจ่ายเปรียบเทียบกับงบประมาณ</h2>
    <h3 class="text-center">สำหรับปี 2560</h3>
    <h4 class="text-center">กองระบบสารสนเทศ</h4>
    <br/>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">รหัสบัญชี</th>
                <th class="text-center">ชื่อบัญชี</th>
                <th class="text-center">รวมเบิกจ่ายงบทำการ</th>
                <th class="text-center">งบประมาณ</th>
                <th class="text-center">ต่ำกว่า(สูงกว่า)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="text-right" colspan="2">รวม</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>
