<div>
    <h2 class="text-center">ตารางสรุปการเบิกจ่ายเปรียบเทียบกับงบประมาณ</h2>
    <div class="form-inline">
        <h3 class="text-center">
            สำหรับปี
            <select class="form-control form-sm"
                    ng-model="vm.year"
                    ng-options="y as y for y in vm.years"
                    ng-change="vm.getReportData()">

            </select>
        </h3>
    </div>
    <h4 class="text-center">{{ vm.working.CostCenterName }}</h4>
    <br/>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="col-md-1 text-center">ลำดับ</th>
                <th class="text-center">รหัสบัญชี</th>
                <th class="text-center">ชื่อบัญชี</th>
                <th class="text-center">วงเงินที่ได้รับ</th>
                <th class="text-center">รวมเบิกจ่ายงบทำการ</th>
                <th class="text-center">ต่ำกว่า(สูงกว่า)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="budget in vm.budgets">
                <td class="text-center">{{ $index + 1 }}</td>
                <td class="text-center">{{ budget.AccountID }}</td>
                <td class="text-center">{{ budget.Account.AccountName }}</td>
                <td class="text-center">{{ budget.BudgetAmount | number:2}}</td>
                <td class="text-center">{{ budget.WithdrawAmount | number:2}}</td>
                <td class="text-center text-success" ng-if="budget.BudgetAmount - budget.WithdrawAmount >= 0">{{ budget.BudgetAmount - budget.WithdrawAmount | number:2 }}</td>
                <td class="text-center text-danger" ng-if="budget.BudgetAmount - budget.WithdrawAmount < 0">({{ budget.WithdrawAmount - budget.BudgetAmount | number:2 }})</td>
            </tr>
            <tr>
                <th class="text-right" colspan="3">รวม</th>
                <th class="text-center">{{ vm.budgets | total: 'BudgetAmount' | number:2 }}</th>
                <th class="text-center">{{ vm.budgets | total: 'WithdrawAmount' | number:2 }}</th>
                <th class="text-center text-success" ng-if="(vm.budgets | total: 'BudgetAmount') - (vm.budgets | total: 'WithdrawAmount') >= 0">{{ (vm.budgets | total: 'BudgetAmount') - (vm.budgets | total: 'WithdrawAmount')  | number: 2}}</th>
                <th class="text-center text-danger" ng-if="(vm.budgets | total: 'BudgetAmount') - (vm.budgets | total: 'WithdrawAmount') < 0">({{ (vm.budgets | total: 'WithdrawAmount') - (vm.budgets | total: 'BudgetAmount') | number: 2}})</th>
            </tr>
        </tbody>
    </table>
</div>
