@{
    Layout = null;
}


<div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <div class="card">
                <form class="form-horizontal" ng-submit="vm.submit(frmCreate)" name="frmCreate" method="post" novalidate>
                    <fieldset>
                        <legend align="center">เพิ่มข้อมูลงบประมาณ</legend>
                        <div class="form-group">
                            <label for="txtYear" class="col-md-4 control-label">ปีงบประมาณ :</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" name="year" class="form-control" id="txtYear" ng-model="vm.form.year" placeholder="พ.ศ." ng-required="true" autofocus />
                                    </div>
                                </div>
                                <span class="text-danger" ng-show="frmCreate.$submitted && frmCreate.year.$error.required">* ปีงบประมาณ</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">บัญชี :</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="accountid" ng-model="vm.form.accountid" class="form-control" list="accounts" placeholder="5XXXXXXX" ng-change="vm.accountChange()" ng-required="true" ng-minlength="8" ng-maxlength="8" />
                                    </div>
                                </div>
                                <span class="text-danger" ng-show="frmCreate.$submitted && (frmCreate.accountid.$error.required || frmCreate.accountid.$error.minlength || frmCreate.accountid.$error.maxlength)">* กรุณาระบุรหัสบัญชี 8 ตัวอักษร</span>
                                <datalist id="accounts">
                                    <option ng-repeat="account in vm.accounts" value="{{ account.AccountID }}">
                                </datalist>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">ชื่อบัญชี : </label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="text" name="accountname" class="form-control" ng-model="vm.form.accountname" ng-required="true" ng-readonly="vm.readonly || false"/>
                                    </div>
                                </div>
                                <span class="text-danger" ng-show="frmCreate.$submitted && frmCreate.accountname.$error.required">* ระบุชื่อบัญชี</span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">ศูนย์ต้นทุน :</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control" name="costcenterid" ng-model="vm.form.costcenterid" ng-required="true" ng-options="c.CostCenterID as c.CostCenterName for c in vm.costcenters">
                                        </select>
                                        </div>
                                </div>
                                <span class="text-danger" ng-show="frmCreate.$submitted && (frmCreate.costcenterid.$error.required )">* กรุณาเลือกศูนย์ต้นทุน</span>
                                <datalist id="accounts">
                                    <option ng-repeat="account in vm.accounts" value="{{ account.AccountID }}">
                                </datalist>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">จำนวนเงิน :</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="number" name="amount" class="form-control" placeholder="0.00" ng-model="vm.form.amount" ng-required="true" ng-min="0" />
                                    </div>
                                </div>
                                <span class="text-danger" ng-show="frmCreate.$submitted && frmCreate.amount.$error.required">* ระบุจำนวนเงิน</span>
                                <span class="text-danger" ng-show="frmCreate.$submitted && frmCreate.amount.$error.min">* จำนวนเงินต้องไม่เป็นค่าลบ</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-lg-offset-2">
                                <a ui-sref="budget" class="btn btn-default btn-block">ยกเลิก</a>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.btnSubmit.disabled">
                                    <i class="fa fa-save" aria-hidden="true"></i> {{ vm.btnSubmit.text }}
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div>
            <h3>งบประมาณ</h3>
            <hr />
            <div class="form-horizontal col-md-10 col-md-offset-1">
                <div class="row">
                    <form ng-submit="submit()">
                        <div class="form-group">
                            <label for="txtYear" class="col-md-5 control-label">ปีงบประมาณ</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" id="txtYear" placeholder="ปีงบประมาณ" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtAccount" class="col-md-5 control-label">บัญชี</label>
                            <div class="col-md-2">
                                <input placeholder="รหัสบัญชี" list="accounts" id="txtAccount" type="text" class="form-control input-sm" ng-model="Account.AccountID" ng-change="accountChange()">
                                <datalist id="accounts">
                                    <option ng-repeat="account in accounts" value="{{ account.AccountID }}">
                                </datalist>
                            </div>
                            <div class="col-md-3">
                                <input placeholder="ชื่อบัญชี" class="form-control input-sm" type="text" ng-model="Account.AccountName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtAmount" class="col-md-5 control-label">จำนวนเงิน</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" id="txtAmount" placeholder="0.00" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-3">
                                <input type="button" value="ยกเลิก" class="form-control btn btn-default btn-block" />
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="ตกลง" class="form-control btn btn-primary btn-block" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>*@

