@{
    Layout = null;
}

<div>
    <h3>บัญชี: {{ vm.budget.AccountID }} - {{ vm.budget.Account.AccountName }}</h3>
    <hr />
</div>

<div clas="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        ประจำปี:
                        <span class="text-primary">
                            {{ vm.budget.Year }}
                        </span>
                    </h4>
                </div>
                <div class="col-md-9">
                    <h4>
                        ศูนย์ต้นทุน: 
                        <span class="text-primary">
                            {{ vm.budget.CostCenterID }} - {{ vm.budget.CostCenter.CostCenterName }} 
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        งบที่ได้รับ: <span class="text-primary">{{ vm.budget.BudgetAmount | number:2 }}</span>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>
                        เบิกจ่าย: <span class="text-primary">{{ vm.budget.WithdrawAmount | number:2 }}</span>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h4>                        
                        คงเหลือ: <span class="text-primary">{{ vm.budget.RemainAmount | number:2 }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">ลำดับ</th>
                    <th class="text-center col-md-2">วันที่</th>
                    <th class="text-center">รายละเอียด</th>
                    <th class="text-center col-md-1">จำนวน</th>
                    <th class="text-center col-md-1">ยอดก่อนหน้า</th>
                    <th class="text-center col-md-1">คงเหลือ</th>
                    <th class="text-center col-md-2">ผู้ควบคุมงบ</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="transaction in vm.budget.BudgetTransactions">
                    <td class="text-center"> {{ $index + 1 }} </td>
                    <td class="text-center"> {{ transaction.CreatedAt | date:'dd MMM yyyy' }} </td>
                    <td class="text-left"> {{ transaction.Payment.Description }} </td>
                    <td class="text-right"> {{ transaction.Amount | number:2 }} </td>
                    <td class="text-right"> {{ transaction.PreviousAmount | number:2 }} </td>
                    <td class="text-right"> {{ transaction.RemainAmount | number:2 }} </td>
                    <td class="text-center"> {{ transaction.CreatedBy }} </td>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <a ui-sref="budget" class="btn btn-default btn-block">รายการงบประมาณ</a>
    </div>
</div>
