
<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title">เพิ่มสิทธิ์ศูนย์ต้นทุนในการทำงาน</h3>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">รหัสพนักงาน</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="รหัสพนักงาน" 
                       ng-model="vm.form.EmployeeNo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">รหัสศูนย์ต้นทุน</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="รหัสศูนย์ต้นทุน" 
                       ng-model="vm.form.CostCenterCode">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">เงื่อนไข</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="vm.form.Condition">
                    <option value="1">เท่ากับ</option>
                    <option value="2">ระหว่าง</option>
                    <option value="3">ขึ้นต้นด้วย</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">รหัสศูนย์ต้นทุน (เริ่มต้น)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="รหัสศูนย์ต้นทุน"
                       ng-model="vm.form.CCAStart">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">รหัสศูนย์ต้นทุน (สิ้นสุด)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="รหัสศูนย์ต้นทุน"
                       ng-model="vm.form.CCAEnd">
            </div>
        </div>
    </form>
    <p class="h4 text-danger text-center">{{ vm.errorMessage }}</p>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.close()">ปิดหน้าต่าง</button>
    <button class="btn btn-primary" type="button" ng-click="vm.save()">บันทึก</button>
</div>