
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">เพิ่มสิทธิ์ศูนย์ต้นทุนในการทำงาน</h3>
</div>

<div class="modal-body" id="modal-body">
    ฟหกดหกฟด
    หกฟด
    หกฟ
    ด

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.close()">ปิดหน้าต่าง</button>
    <button class="btn btn-primary" type="button" ng-click="vm.save()">บันทึก</button>
</div>