
@{
    ViewBag.Title = "ManageWorkingCC";
}

<h2>กำหนดสิทธิ์ ศูนย์ต้นทุนในการทำงาน</h2>

<div class="main-content">

    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" ng-submit="vm.getConditionList()">
                <div class="form-group pull-right">
                    <input type="text" class="form-control" placeholder="รหัสพนักงาน, รหัสศูนย์ต้นทุน" ng-model="vm.filter" />
                    <input type="submit" class="btn btn-primary" value="ค้นหา" />
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top:5px;">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">รหัสพนักงาน</th>
                        <th class="text-center">ศูนย์ต้นทุน</th>
                        <th class="text-center">เงื่อนไข</th>
                        <th class="text-center">ศูนย์ต้นทุนเริ่มต้น</th>
                        <th class="text-center">ศูนย์ต้นทุนสิ้นสุด</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.conditionList">
                        <td class="text-center"> {{ $index + 1 }} </td>
                        <td class="text-center"> {{ item.EmployeeNo }} </td>
                        <td class="text-center"> {{ item.CostCenterCode }} </td>
                        <td class="text-center"> {{ item.Condition }} </td>
                        <td class="text-center"> {{ item.CCAStart }} </td>
                        <td class="text-center"> {{ item.CCAEnd }} </td>
                        <td class="text-center">
                            <a ng-click="vm.deleteCondition(item)" title="ลบ">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary pull-right" ng-click="vm.openCreateForm()">เพิ่มรายการ</button>
        </div>
    </div>

</div>