@{
    Layout = null;
}

<br />
<br />

<div class="alert text-center" ng-class="vm.msg.mclass" ng-if="vm.msg.haveMessage">
    <button type="button" class="close" ng-click="vm.hideMessage()">&times;</button>
    <h4>{{ vm.msg.mheader }} </h4>
    <h4>{{ vm.msg.mtext }}</h4>
</div>

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="card">
            <form method="post" ng-submit="vm.submit()">
                <fieldset>
                    <legend align="center">
                        เปลี่ยนรหัสผ่าน
                    </legend>
                    <div class="form-group">
                        <input type="text" ng-disabled="true" ng-model="vm.form.UserName" class="form-control text-center" placeholder="รหัสพนักงาน" />
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="vm.form.Password" class="form-control text-center" placeholder="รหัสผ่านเดิม" />
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="vm.form.NewPassword" class="form-control text-center" placeholder="รหัสผ่านใหม่" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ตกลง" class="btn btn-primary btn-block" ng-disabled="vm.isLoading" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>